/* outfit-regular - latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/outfit-v4-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/outfit-v4-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/outfit-v4-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/outfit-v4-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/outfit-v4-latin-regular.svg#Outfit') format('svg'); /* Legacy iOS */
}

/* righteous-regular - latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/righteous-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/righteous-v9-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/righteous-v9-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../fonts/righteous-v9-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/righteous-v9-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/righteous-v9-latin-regular.svg#Righteous') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
}

html {
  --e-global-color-primary: #acd69f;
  --e-global-color-secondary: #ebf5e9;
  --e-global-color-text: #000000;
  --e-global-color-dark: #acd69fc3;
  --e-global-color-light: #ebf5e93c;
  --e-global-color-button: #e6d929;
  --e-global-color-linear1: #3ca55c;
  --e-global-color-linear2: #b5ac49;
  --e-global-typography-primary-font-family: 'Righteous';
  --e-global-typography-text-font-family: 'Outfit';

  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
}

dl {
  line-height: 1.4em;
  overflow: hidden;
  width: 100%;
}

dt,
dd {
  float: left;
  margin-bottom: 0.9rem;
}

dt {
  color: #246438;
  padding-right: 12px;
  text-align: right;
  width: calc(50% - 12px);
}

dd {
  text-align: left;
  width: 50%;
}

footer,
section {
  position: relative;
}

footer {
  padding: 60px 0 20px 0;
}

.background.primary {
  background-color: var(--e-global-color-primary) !important;
}

.background.secondary {
  background-color: var(--e-global-color-secondary) !important;
}

.background.dark {
  background-color: var(--e-global-color-dark) !important;
}

.background.light {
  background-color: var(--e-global-color-light) !important;
}

.background.primary .shape.bottom path,
.background.primary .shape.top path {
  fill: var(--e-global-color-secondary) !important;
}

.background.secondary .shape.bottom path,
.background.secondary .shape.top path {
  fill: var(--e-global-color-primary) !important;
}

.pusher.margin.two {
  margin: 20px;
}

.pusher.margin.four {
  margin: 40px;
}

.pusher.margin.six {
  margin: 60px;
}

.pusher.margin.eight {
  margin: 80px;
}

.shape {
  direction: ltr;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.shape svg {
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: block;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: calc(100% + 1.3px);
}

.shape.bottom {
  bottom: -1px;
  transform: rotate(180deg);
}

.shape.top {
  top: -1px;
}

.timeline {
  margin: 0 auto;
  max-width: 1140px;
  padding: 15px 0;
  position: relative;
  width: 100%;
}

.timeline::after {
  background: var(--e-global-color-primary);
  bottom: 0;
  content: '';
  left: 50%;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 2px;
}

.timeline .container {
  background: inherit;
  padding: 15px 30px;
  position: relative;
  width: 50%;
}

.timeline .container.left {
  left: 0;
}

.timeline .container.right {
  left: 50%;
}

.timeline .container::after {
  background: #ffffff;
  border-radius: 16px;
  border: 2px solid var(--e-global-color-primary);
  content: '';
  height: 16px;
  position: absolute;
  right: -8px;
  top: calc(50% - 8px);
  width: 16px;
  z-index: 1;
}

.timeline .container.right::after {
  left: -8px;
}

.timeline .container::before {
  background: var(--e-global-color-primary);
  content: '';
  height: 2px;
  position: absolute;
  right: 8px;
  top: calc(50% - 1px);
  width: 50px;
  z-index: 1;
}

.timeline .container.right::before {
  left: 8px;
}

.timeline .container .date {
  color: var(--e-global-color-text);
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: calc(50% - 8px);
  z-index: 1;
}

.timeline .container.left .date {
  right: -80px;
}

.timeline .container.right .date {
  left: -80px;
}

.timeline .container .fa {
  background: #f6d155;
  border-radius: 40px;
  color: var(--e-global-color-text);
  font-size: 1.2em;
  height: 2em;
  line-height: 2em;
  position: absolute;
  text-align: center;
  top: calc(50% - 1em);
  width: 2em;
  z-index: 1;
}

.timeline .container.left .fa {
  right: 56px;
}

.timeline .container.right .fa {
  left: 56px;
}

.timeline .container .content {
  background: var(--e-global-color-dark);
  border-radius: 50px;
  max-width: 469px;
  padding: 40px 90px 40px 40px;
  position: relative;
}

.timeline .container.right .content {
  padding: 40px 40px 40px 90px;
}

.timeline .container .content h2 {
  color: var(--e-global-color-text);
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.2;
  margin: 10px 0 8px 0;
}

.timeline .container .content p {
  color: var(--e-global-color-text);
  font-size: 1em;
  line-height: 22px;
  margin: 0;
  padding-bottom: 12px;
}

.ui.accordion .title:not(.ui) {
  background: var(--e-global-color-text);
  border-radius: 30px;
  color: var(--e-global-color-primary);
  font-weight: bold;
  margin-top: 12px;
  padding: 12px;
}

.ui.accordion .title:not(.ui).active {
  background: var(--e-global-color-secondary);
  color: var(--e-global-color-text);
}

.ui.accordion .content {
  margin-left: 1em;
}

.ui.button {
  border-radius: 30px;
}

.ui.primary.button,
.ui.primary.button:focus,
.ui.primary.button:visited {
  background-color: var(--e-global-color-button);
}

.ui.primary.button:hover {
  background-color: transparent;
  background-image: linear-gradient(
    160deg,
    var(--e-global-color-linear1) 0%,
    var(--e-global-color-linear2) 100%
  );
}

.ui.text.menu .browse.item h3 {
  color: #ffffff;
  font-size: 2em;
}

.ui.left.aligned.image {
  text-align: left;
}

video.ui.bordered.image {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
}

.ui.center.aligned.container .ui.menu,
section.landing.section .eight.wide.column:nth-child(2) {
  align-items: center;
  display: flex;
  justify-content: center;
}

section.section {
  padding: 60px 0 120px 0;
}

section.section > .ui.container > h2 {
  font-size: 3em;
}

section.section .ui.cards > div.card:not(.image) {
  border-radius: 30px;
  box-shadow: none;
  padding: 60px 40px 60px 40px !important;
}
section.section .ui.cards > .card:focus,
section.section .ui.cards > .card:hover {
  box-shadow: none;
}

section.section .ui.cards > .card > i {
  font-size: 4em;
}

section.section .ui.cards > .card > h3 {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: 1.6em;
  font-weight: normal;
}

section.section h1 {
  font-size: 4em;
}

section.landing.section .eight.wide.column:nth-child(1) {
  order: 1;
}

section.landing.section p {
  font-size: 1.2em;
}

section.landing .shape svg {
  height: 80px;
}

section.introduction .shape svg {
  height: 60px;
}

section.launch .shape svg,
section.faq .shape svg,
footer .shape svg {
  height: 50px;
}

section.launch .ui.card.image {
  background: transparent;
  border-radius: 20px;
  box-shadow: none;
}

section.launch .plan .card {
  font-size: 1.2em;
}

section.roadmap {
  padding: 60px 0 60px 0;
}

footer .ui.text.menu {
  font-size: 1.5rem;
  line-height: 1.2em;
  margin: 0;
}

@media (max-width: 767.98px) {
  .ui.four.doubling.cards > .card {
    width: calc(50% - 1em);
    margin: 0.5em;
  }

  .ui.stackable.cards > .card {
    width: calc(100% - 4em) !important;
    margin: 1em 2em;
  }

  .timeline::after {
    left: 30px;
  }

  .timeline .container {
    padding-left: 60px;
    padding-right: 30px;
    width: 100%;
  }

  .timeline .container::before {
    width: 20px;
  }

  .timeline .container.right {
    left: 0%;
  }

  .timeline .container.left::after,
  .timeline .container.right::after {
    height: 8px;
    left: 26px;
    top: calc(50% - 4px);
    width: 8px;
  }

  .timeline .container.left::before,
  .timeline .container.right::before {
    border-color: transparent var(--e-global-color-primary) transparent
      transparent;
    left: 30px;
  }

  .timeline .container.left .date,
  .timeline .container.right .date {
    left: -12px;
    right: auto;
    transform: rotate(90deg);
  }

  .timeline .container.left .fa,
  .timeline .container.right .fa {
    left: 46px;
    right: auto;
  }

  .timeline .container.left .content,
  .timeline .container.right .content {
    padding: 30px 20px 30px 30px;
  }

  .timeline .container .content h2 {
    font-size: 1.2em;
  }

  [class*='mobile hidden'],
  [class*='tablet only']:not(.mobile),
  [class*='computer only']:not(.mobile),
  [class*='large screen only']:not(.mobile),
  [class*='widescreen only']:not(.mobile),
  [class*='or lower hidden'] {
    display: none !important;
  }

  .pusher.margin.two {
    margin: 8px;
  }

  .pusher.margin.four {
    margin: 16px;
  }

  .pusher.margin.six {
    margin: 24px;
  }

  .pusher.margin.eight {
    margin: 32px;
  }

  section.section > .ui.container > h2 {
    font-size: 2em;
  }

  section.section h1 {
    font-size: 3em;
  }

  section.section .ui.cards > div.card:not(.image) {
    padding: 40px !important;
  }

  section.section .ui.cards > .card > h3 {
    font-size: 1.4em;
  }

  section.landing.section .eight.wide.column:nth-child(1) {
    order: unset;
  }

  section.launch.section .ui.four.doubling.cards {
    margin: 0 1em 0 1em;
  }

  section.faq {
    padding: 60px 0 60px 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  section.section > .ui.container > h2 {
    font-size: 2.6em;
  }

  section.section h1 {
    font-size: 3.2em;
  }

  section.launch.section .ui.three.cards > .card {
    width: calc(50% - 2em);
    margin-left: 1em;
    margin-right: 1em;
  }
}
