/* outfit-regular - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v4-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/outfit-v4-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/outfit-v4-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/outfit-v4-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/outfit-v4-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/outfit-v4-latin-regular.svg#Outfit") format("svg"); /* Legacy iOS */
}

/* righteous-regular - latin */
@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/righteous-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/righteous-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/righteous-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/righteous-v9-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/righteous-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/righteous-v9-latin-regular.svg#Righteous") format("svg"); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
}

html {
  --e-global-color-primary: #acd69f;
  --e-global-color-secondary: #ebf5e9;
  --e-global-color-text: #000000;
  --e-global-color-dark: #acd69fc3;
  --e-global-color-light:#ebf5e93c;
  --e-global-color-button: #e6d929;
  --e-global-color-linear1: #3ca55c;
  --e-global-color-linear2: #b5ac49;
  --e-global-typography-primary-font-family: "Righteous";
  --e-global-typography-text-font-family: "Outfit";

  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
}

dl {
  width: 100%;
  overflow: hidden;
  line-height: 1.4em;
}

dt,
dd {
  float: left;
  margin-bottom: 0.9rem;
}

dt {
  width: 50%;
  text-align: right;
  padding-right: 12px;
  color: #246438;
}

dd {
  width: 50%;
  text-align: left;
}

footer,
section {
  position: relative;
}

footer {
  padding: 60px 0 20px 0;
}

.background.primary {
  background-color: var(--e-global-color-primary) !important;
}

.background.secondary {
  background-color: var(--e-global-color-secondary) !important;
}

.background.dark {
  background-color: var(--e-global-color-dark) !important;
}

.background.light {
  background-color: var(--e-global-color-light) !important;
}

.background.primary .shape.bottom path,
.background.primary .shape.top path {
  fill: var(--e-global-color-secondary) !important;
}

.background.secondary .shape.bottom path,
.background.secondary .shape.top path {
  fill: var(--e-global-color-primary) !important;
}

.pusher.margin.two {
  margin: 20px;
}

.pusher.margin.four {
  margin: 40px;
}

.pusher.margin.six {
  margin: 60px;
}

.pusher.margin.eight {
  margin: 80px;
}

.shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.shape.bottom {
  bottom: -1px;
  transform: rotate(180deg);
}

.shape.top {
  top: -1px;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: var(--e-global-color-primary);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline .container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.timeline .container.left {
  left: 0;
}

.timeline .container.right {
  left: 50%;
}

.timeline .container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid var(--e-global-color-primary);
  border-radius: 16px;
  z-index: 1;
}

.timeline .container.right::after {
  left: -8px;
}

.timeline .container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--e-global-color-primary);
  z-index: 1;
}

.timeline .container.right::before {
  left: 8px;
}

.timeline .container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 1em;
  color: var(--e-global-color-text);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.timeline .container.left .date {
  right: -110px;
}

.timeline .container.right .date {
  left: -110px;
}

.timeline .container .fa-solid,
.timeline .container .fa-brands {
  background: #f6d155;
  border-radius: 40px;
  color: var(--e-global-color-text);
  font-size: 1.2em;
  height: 2em;
  line-height: 2em;
  position: absolute;
  text-align: center;
  top: calc(50% - 1em);
  width: 2em;
  z-index: 1;
}

.timeline .container.left .fa-solid,
.timeline .container.left .fa-brands {
  right: 56px;
}

.timeline .container.right .fa-solid,
.timeline .container.right .fa-brands {
  left: 56px;
}

.timeline .container .content {
  border-radius: 50px;
  padding: 40px 90px 40px 40px;
  background: var(--e-global-color-dark);
  max-width: 469px;
  position: relative;
}

.timeline .container.right .content {
  padding: 40px 40px 40px 90px;
}

.timeline .container .content h2 {
  margin: 10px 0 8px 0;
  font-size: 1.4em;
  color: var(--e-global-color-text);
  font-weight: normal;
  line-height: 1.2;
}

.timeline .container .content p {
  margin: 0;
  font-size: 1em;
  line-height: 22px;
  color: var(--e-global-color-text);
  padding-bottom: 12px;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .timeline .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .timeline .container.right {
    left: 0%;
  }

  .timeline .container.left::after,
  .timeline .container.right::after {
    left: 82px;
  }

  .timeline .container.left::before,
  .timeline .container.right::before {
    left: 100px;
    border-color: transparent var(--e-global-color-primary) transparent
      transparent;
  }

  .timeline .container.left .date,
  .timeline .container.right .date {
    right: auto;
    left: 15px;
  }

  .timeline .container.left .fa-solid,
  .timeline .container.right .fa-solid {
    right: auto;
    left: 146px;
  }

  .timeline .container.left .content,
  .timeline .container.right .content {
    padding: 30px 30px 30px 90px;
  }
}

.ui.accordion .title:not(.ui) {
  background: var(--e-global-color-text);
  border-radius: 30px;
  color: var(--e-global-color-primary);
  font-weight: bold;
  margin-top: 12px;
  padding: 12px;
}

.ui.accordion .title:not(.ui).active {
  background: var(--e-global-color-secondary);
  color: var(--e-global-color-text);
}

.ui.accordion .content {
  margin-left: 1em;
}

.ui.button {
  border-radius: 30px;
}

.ui.primary.button,
.ui.primary.button:focus,
.ui.primary.button:visited {
  background-color: var(--e-global-color-button);
}

.ui.primary.button:hover {
  background-color: transparent;
  background-image: linear-gradient(
    160deg,
    var(--e-global-color-linear1) 0%,
    var(--e-global-color-linear2) 100%
  );
}

.ui.text.menu .browse.item h3 {
  color: #ffffff;
  font-size: 2em;
}

.ui.left.aligned.image {
  text-align: left;
}

video.ui.bordered.image {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
}

.ui.center.aligned.container .ui.menu,
section.landing.section .eight.wide.column.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.section {
  padding: 60px 0 120px 0;
}

section.section > .ui.container > h2 {
  font-size: 3em;
}

section.section .ui.cards > div.card:not(.image) {
  border-radius: 30px;
  padding: 60px 40px 60px 40px;
  box-shadow: none;
}
section.section .ui.cards > .card:focus,
section.section .ui.cards > .card:hover {
  box-shadow: none;
}

section.section .ui.cards > .card > i {
  font-size: 4em;
}

section.section .ui.cards > .card > h3 {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: 2em;
  font-weight: normal;
}

section.landing.section h1 {
  font-size: 4em;
}

section.landing.section p {
  font-size: 1.2em;
}

section.landing .shape svg {
  height: 80px;
}

section.introduction .shape svg {
  height: 60px;
}

section.launch .shape svg,
section.faq .shape svg,
footer .shape svg {
  height: 50px;
}

section.launch .ui.card.image {
  background: transparent;
  border-radius: 20px;
  box-shadow: none;
}

section.launch .plan .card {
  font-size: 1.2em;
}

section.roadmap {
  padding: 60px 0 60px 0;
}

footer .ui.text.menu{
  font-size: 1.5rem;
  line-height: 1.2em;
  margin: 0;
}
